<app-menu></app-menu>
<app-aside></app-aside>
<div class="main-centrado">
  <br>
  <br>
  <div class="pagetitle container-center">
    <h1>REGISTRO DE PEDIDOS</h1>
  </div>
  <mat-card>
    <mat-card-content>
      <form #formPersonalForm="ngForm" (ngSubmit)="onSubmit()">
        <h3>DATOS DEL CLIENTE</h3>
        <div class="card-container">
          <div class="card-wrapper">
            <mat-form-field class="example-full-width custom-mat-select">
              <mat-label>Tipo Documento</mat-label>
              <mat-select [(ngModel)]="selectedTipoDocumento" required name="tipoDocumento" [disabled]="isReadOnly" (ngModelChange)="realizarAccionCliente()">
                @for (tipoDocumento of tiposDocumentos; track tipoDocumento) {
                <mat-option [value]="tipoDocumento.id">{{tipoDocumento.abreviatura}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Número Documento</mat-label>
              <input matInput placeholder="Número Documento" [(ngModel)]="numeroDocumento" required name="numeroDocumento" type="text" pattern="\d*" maxlength="12" [disabled]="isReadOnly" (ngModelChange)="buscarCliente()" >
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Número Celular</mat-label>
              <input matInput placeholder="Número Celular" [(ngModel)]="numeroCelular" required name="numeroCelular" type="text" pattern="\d*" maxlength="9" [disabled]="isReadOnly">
            </mat-form-field>
          </div>
        </div>
        <div class="card-container">
          <div class="card-wrapper">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Apellido Paterno" [(ngModel)]="apellidoPaterno" required name="apellidoPaterno" type="text"  maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase">
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Apellido Materno" [(ngModel)]="apellidoMaterno" required name="apellidoMaterno" type="text"  maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase">
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="nombre" name="nombre" type="text" required maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase">
            </mat-form-field>
          </div>
        </div>
        <div class="card-container">
          <div class="card-wrapper-mitad">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Direccion</mat-label>
              <input matInput placeholder="Direccion" [(ngModel)]="direccion" name="direccion" type="text" style="text-transform:uppercase" required maxlength="300" [disabled]="isReadOnly">
            </mat-form-field>
          </div>
          <div class="card-wrapper-mitad">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput placeholder="Direccion" [(ngModel)]="email" name="email" type="text" required maxlength="300" [disabled]="isReadOnly">
            </mat-form-field>
          </div>
        </div>
        <div class="card-container">
          <div class="card-wrapper">
            <mat-form-field class="example-full-width custom-mat-select">
              <mat-label>Operario Asignado</mat-label>
              <mat-select [(ngModel)]="selectedOperario" name="operario" [disabled]="isReadOnly" (ngModelChange)="habilitarBloqueoAsignarPedido()">
                @for (operario of operarios; track operario) {
                <mat-option [value]="operario.id">{{operario.nombrecompleto | uppercase}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field class="example-full-width custom-mat-select">
              <mat-label>Vehiculo Asignado</mat-label>
              <mat-select [(ngModel)]="selectedVehiculo"  name="vehiculo" [disabled]="bloquearDatosAsignacion">
                @for (vehiculo of vehiculos; track vehiculo) {
                <mat-option [value]="vehiculo.id">{{vehiculo.placa | uppercase}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-wrapper">
            <mat-form-field class="example-full-width custom-mat-select ">
              <mat-label>Fecha de Pedido</mat-label>
              <input matInput [matDatepicker]="picker" name="date"  [(ngModel)]="selectedFechaPedido" [disabled]="bloquearDatosAsignacion" [min]="minFecha">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <h3>DETALLE DEL PEDIDO</h3>
        <div class="card-container">
          <div class="card-wrapper-30">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Código SKU</mat-label>
              <input matInput placeholder="Código SKU" [(ngModel)]="skuproducto" name="skuproducto" type="text"  maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase" (ngModelChange)="buscarProducto()">
            </mat-form-field>
          </div>
          <div class="card-wrapper-40">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Nombre Producto</mat-label>
              <input matInput placeholder="Nombre Producto" [(ngModel)]="nombreproducto" name="nombreproducto" type="text"  maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase">
            </mat-form-field>
          </div>
          <div class="card-wrapper-25">
            <mat-form-field appearance="outline" class="example-full-width custom-mat-select">
              <mat-label>Cantidad</mat-label>
              <input matInput placeholder="Cantidad" [(ngModel)]="cantidad" name="cantidad" type="number"  maxlength="50" [disabled]="isReadOnly" style="text-transform:uppercase">
            </mat-form-field>
          </div>
          <div class="card-wrapper-5">
            <button mat-flat-button color="primary" (click)="agregarProducto()" type="button" *ngIf="!ocultarBotonGuardar">
              Agregar
            </button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
          <ng-container matColumnDef="producto" >
            <th mat-header-cell *matHeaderCellDef> Nombre del Producto</th>
            <td mat-cell *matCellDef="let item"> {{item.producto | uppercase }} </td>
          </ng-container>
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código</th>
            <td mat-cell *matCellDef="let item"> {{item.codigo | uppercase }} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let item"> {{item.cantidad}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>
        <br>
        <button mat-flat-button *ngIf="!ocultarBotonGuardar" [disabled]="!formPersonalForm.form.valid" color="primary">Guardar</button>
        <span style="margin-left: 10px; margin-right: 10px;"></span>
        <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
